<p-tabView>
  <!-- <p-tabPanel [header]="tab.header">
      <ul *ngIf="tab.contentType === 0">
        <li class="content-style" *ngFor="let item of tab.content">
          {{ item }}
        </li>
      </ul>

      <table *ngIf="tab.contentType === 1" class="table">
        <tr
          class="content-style"
          *ngFor="let item of tab.content; let i = index"
        >
          <td>{{ tab.contentHead ? tab.contentHead[i] : "" }}</td>
          <td>:</td>
          <td>{{ item }}</td>
        </tr>
      </table>
    </p-tabPanel> -->
  <p-tabPanel [header]="'Description'">
    <p>
      {{ product.description }}
    </p>
  </p-tabPanel>
  <p-tabPanel [header]="'Specification'">
    <table class="table">
      <tr *ngFor="let key of detailKeys" class="content-style">
        <td>{{ key }}</td>
        <td>:</td>
        <td>{{ details[key] }}</td>
      </tr>
    </table>
  </p-tabPanel>
</p-tabView>
