Django>=3.2.3,<3.3
psycopg2>=2.8.6,<2.9
psycopg
uWSGI
djangorestframework
django-cors-headers
django-rest-swagger
drf_yasg
django-extensions
pandas
python-dateutil
chromadb
langchain
langchainhub
openai
tiktoken
langchain-openai
markdown
langchain_community