p-button {
  $buttonBg: var(--surface-800);
  $buttonPadding: 0rem 0rem;
}
$buttonBg: var(--surface-800);
$buttonPadding: 0rem 0rem;
button {
  $buttonBg: var(--surface-800);
  $buttonPadding: 0rem 0rem;
}

.navbar-blur {
  border-bottom: 1px solid var(--surface-border);
  background-color: var(--topbar-sticky-bg);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - var(--scrollbar-width, 0px));
  z-index: 1100;
  transition: background-color 0.5s, border-color 0.5s;
  border-bottom: 1px solid transparent;
}
