<nav
  [ngClass]="{
    'navbar-blur': navbarScrolled,
  }"
  class="navbar flex justify-content-between align-items-center p-2"
>
  <div class="logo-container flex flex-row align-items-center gap-2">
    <i (click)="sidebarVisible = true" class="lg:hidden pi pi-bars"></i>
    <img
      src="../../../assets/icons/logo-placeholder.png"
      alt="logo"
      height="50"
    />
  </div>
  <div class="search-bar-container hidden lg:block">
    <input type="text" />
  </div>
  <div class="">
    <button
      [ngClass]="{ 'my-class': isDarkTheme(), 'other-class': !isDarkTheme() }"
      pripple=""
      (click)="this.isDarkTheme.set(!this.isDarkTheme())"
      class="p-ripple p-element p-button p-component p-button-icon-only"
      ng-reflect-ng-class="[object Object]"
      type="button"
    >
      <span
        [ngClass]="{
          ' pi-sun sun-icon ': isDarkTheme(),
          ' pi-moon moon-icon': !isDarkTheme()
        }"
        data-pc-section="icon"
        class="pi p-button-icon"
      ></span>
    </button>
  </div>
</nav>
<p-sidebar [(visible)]="sidebarVisible">
  <h3>Top Categories</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. m
  </p>
</p-sidebar>
