<!--The whole details section-->
<div
  class="description-text"
  style="flex: 1; min-width: 300px; padding: 0 20px; text-align: left"
>
  <!--Product Name-->
  <h2>{{ name }}</h2>
  <!--Reviews using stars-->
  <div style="display: flex; align-items: center">
    <h3>Rating:</h3>
    <div style="display: flex; align-items: center">
      <p-rating
        [(ngModel)]="rateValue"
        [readonly]="true"
        [cancel]="false"
        class="description-text"
      ></p-rating>
      <span class="description-text">{{ rateValue }}</span>
    </div>
  </div>
  <!--Features using list-->
  <div>
    <h3>Description:</h3>
    <p>
      {{ product.description }}
    </p>
    <!-- <ul style="padding: 1">
      <li
        *ngFor="let feature of description?.features"
        style="margin-bottom: 0.5rem"
      >
        {{ feature }}
      </li>
    </ul> -->
  </div>
</div>
