<div
  class="welcome-section-container flex justify-content-center align-content-center"
>
  <div
    id="hero"
    class="grid grid-nogutter col-12 justify-content-center text-800"
  >
    <div
      class="text-center col-12 flex align-items-center justify-content-center fadein animation-duration-1000"
    >
      <section>
        <div class="p-card-title mb-2">
          <span class="wiki font-bold text-5xl md:text-7xl">Wiki</span
          ><span class="product font-bold text-5xl md:text-7xl">Product</span>
        </div>
        <div class="text-xl lg:text-2xl font-bold mb-4">
          Journey Through the World of Products - Discover, Learn, and Explore!
        </div>
        <div class="flex justify-content-center">
          <p-inputGroup class="col-10">
            <input
              class="transparent-field"
              type="text"
              pInputText
              placeholder="Search"
            />
            <button
              type="button"
              pButton
              icon="pi pi-search"
              class="p-button"
            ></button>
          </p-inputGroup>
        </div>
        <div class="text-xl lg:text-xl font-bold mb-2 mt-5">
          Or Chat with ProductBot
        </div>
        <button class="p-ripple p-element p-button p-component">
          <span class="pi pi-comment p-button-icon p-button-icon-right"></span>
          <span class="p-button-label ng-star-inserted">Ask ProductBot</span>
        </button>
        <div class="flex flex-column justify-content-center mt-5">
          <i
            class="pi pi-angle-down animate-flicker"
            style="font-size: 2rem"
          ></i>
        </div>
      </section>
    </div>
  </div>

  <div class="blobs-glass"></div>
  <div class="blobs">
    <div class="blobs-items">
      <div class="blob blob-primary"></div>
      <div class="blob blob-primary"></div>
      <div class="blob blob-secondry"></div>

      <div class="blob blob-bg"></div>
    </div>
  </div>
</div>
