<nav
  [ngClass]="{
    'navbar-blur': navbarScrolled,
  }"
  class="navbar flex justify-content-between align-items-center p-3"
>
  <div class="logo-container flex flex-row align-items-center gap-2">
    <i (click)="sidebarVisible = true" class="pi pi-bars"></i>
    <div class="cursor-pointer" [routerLink]="['/']">
      <span class="wiki text-2xl lg:text-4xl">Wiki</span
      ><span class="product text-2xl lg:text-4xl">Product</span>
    </div>
  </div>
  <div class="flex flex-row gap-2">
    <div class="search-bar-container" *ngIf="isLargeScreen">
      <span class="p-input-icon-right">
        <i class="pi pi-search transparent-button-icon"></i>
        <input
          class="transparent-input-text"
          type="text"
          pInputText
          [(ngModel)]="value"
        />
      </span>
    </div>
    <!-- Wishlist button -->
    <button
      class="p-ripple p-element p-button p-component p-button-icon-only transparent-button"
      [pTooltip]="tooltipContent"
      tooltipPosition="bottom"
    >
      <span class="pi pi-heart p-button-icon transparent-button-icon"></span>
    </button>
    <ng-template #tooltipContent>
      <div class="flex align-content-center justify-content-center">
        <span class="font-bold">Wishlist</span>
      </div>
    </ng-template>
    <!-- Toggle Button for Light/Dark theme switching -->
    <button
      (click)="this.isDarkTheme.set(!this.isDarkTheme())"
      class="p-ripple p-element p-button p-component p-button-icon-only transparent-button"
      [pTooltip]="themeTooltip"
      tooltipPosition="bottom"
    >
      <span
        [ngClass]="{
          ' pi-sun': isDarkTheme(),
          ' pi-moon': !isDarkTheme()
        }"
        class="pi p-button-icon transparent-button-icon"
      ></span>
    </button>
    <ng-template #themeTooltip>
      <div class="flex text-center align-items-center justify-content-center">
        <span *ngIf="isDarkTheme()" class="font-bold">Go Light</span>
        <span *ngIf="!isDarkTheme()" class="font-bold">Go Dark</span>
      </div>
    </ng-template>
  </div>
</nav>

<!-- navigation sidebar -->
<p-sidebar [(visible)]="sidebarVisible">
  <div class="">
    <div class="search-bar-container col-4" *ngIf="!isLargeScreen">
      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input type="text" pInputText [(ngModel)]="value" />
      </span>
    </div>
    <h3>Categories</h3>
    <!-- <div class="flex flex-column">
      @for (category of categories; track $index) {
      <p-button
        [label]="category.category"
        [text]="true"
        severity="secondary"
      ></p-button>
      }
    </div> -->
    <p-tree class="w-full md:w-30rem" [value]="files"></p-tree>
  </div>
</p-sidebar>
