::ng-deep .p-dataview .p-dataview-content {
  background: none !important;
}

::ng-deep .p-dataview .p-dataview-header {
  background: none;
  border: none;
  padding: 1rem 1rem;
}
::ng-deep .p-selectbutton .p-button {
  background: var(--transparent);
}
::ng-deep p-selectbutton .p-button.p-highlight {
  background: #60a5fa !important;
}
::ng-deep p-selectbutton .p-button.p-highlight {
  background: #60a5fa !important;
  background: #60a5fa !important;
}
.p-selectbutton .p-button.p-highlight {
  background: #60a5fa !important;
  border-color: #60a5fa;
  color: #030712;
}
.text-limit {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
}
.currency-limit {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 15ch;
}
.product-img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
