<div class="px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-3xl">
    <span class="text-900">All Products, </span>
    <span class="text-blue-600">One Platform</span>
  </div>
  <div class="text-700 mb-6">
    Comprehensive Product Exploration: Access detailed insights across diverse
    categories for informed decision-making.
  </div>
  <div class="grid">
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-database text-5xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-bold">
        Comprehensive Product Database
      </div>
      <span class="text-700 line-height-3"
        >Access a vast array of products with our extensive database. Detailed
        descriptions, specifications, and pricing at your fingertips.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-bolt text-5xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-bold">
        AI-Powered Search and Comparison
      </div>
      <span class="text-700 line-height-3"
        >Effortlessly find and compare products with our intelligent AI search
        tool. Simplify decision-making with insights on key differences and
        features.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-user text-5xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-bold">User-Friendly Interface</div>
      <span class="text-700 line-height-3"
        >Navigate with ease through our user-friendly platform. A seamless
        experience, from search to purchase.</span
      >
    </div>
  </div>
</div>
