<div
  class="welcome-section-container flex justify-content-center align-content-center"
>
  <!-- The Whole Card -->
  <!-- <p-card> -->
  <!--Title and Subtitle-->
  <!-- <div class="p-card-title">
      <span class="wiki">Wiki</span><span class="product">Product</span>
    </div>
    <p class="m-0">
      Journey Through the World of Products - Discover, Learn, and Explore!
    </p> -->

  <!--Search Bar-->
  <!-- <form action="https://www.google.com/search" method="GET" target="_blank">
      <input type="hidden" name="tbm" value="shop" />
      <div class="search-bar-container">
        <input type="text" name="q" placeholder="Search for products" />
        <button type="submit">Search</button>
      </div>
    </form> -->

  <!--Bot Button-->
  <!-- <div class="bot">
      <h4>Or Chat with ProductBot</h4>
      <button class="bot-button" (click)="openBotPopUp()">
        Ask ProductBot
        <i class="pi pi-android"></i>
      </button>
    </div>
  </p-card> -->

  <div
    id="hero"
    class="grid grid-nogutter col-12 justify-content-center text-800"
  >
    <div
      class="text-center col-12 flex align-items-center justify-content-center fadein animation-duration-1000"
    >
      <section>
        <div class="p-card-title mb-2">
          <span class="wiki font-bold text-5xl md:text-7xl">Wiki</span
          ><span class="product font-bold text-5xl md:text-7xl">Product</span>
        </div>
        <div class="text-xl lg:text-2xl font-bold mb-4">
          Journey Through the World of Products - Discover, Learn, and Explore!
        </div>
        <div class="flex justify-content-center">
          <p-inputGroup class="col-10">
            <input
              class="transparent-field"
              type="text"
              pInputText
              placeholder="Search"
            />
            <button
              type="button"
              pButton
              icon="pi pi-search"
              class="p-button"
            ></button>
          </p-inputGroup>
        </div>
        <div class="text-xl lg:text-xl font-bold mb-2 mt-5">
          Or Chat with ProductBot
        </div>
        <button class="p-ripple p-element p-button p-component">
          <span class="pi pi-comment p-button-icon p-button-icon-right"></span>
          <span class="p-button-label ng-star-inserted">Ask ProductBot</span>
        </button>
      </section>
    </div>
  </div>

  <div class="blobs-glass"></div>
  <div class="blobs">
    <div class="blobs-items">
      <div class="blob blob-primary"></div>
      <div class="blob blob-primary"></div>
      <div class="blob blob-secondry"></div>

      <div class="blob blob-bg"></div>
      <div class="blob-bg big-blob"></div>
    </div>
  </div>
</div>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis perspiciatis
commodi consequuntur corporis quibusdam nihil eaque delectus. Blanditiis esse
ullam quod sed repudiandae ab explicabo. Aliquam hic ex omnis mollitia
necessitatibus ut, aperiam consequatur molestias vel voluptas unde veritatis
animi vitae libero voluptatum, beatae dolorem fugiat consequuntur? Laudantium,
fuga! Amet est sapiente nesciunt ducimus, assumenda vel! Accusamus, optio illum?
Accusantium laudantium ducimus rem modi, aperiam possimus ad unde asperiores
recusandae repellendus enim? Deserunt eos vel facilis nihil culpa aut unde
soluta eum, iure dicta similique illo eveniet, quos ratione nostrum tenetur
accusamus. Sequi aperiam voluptatibus eius amet error sunt magni neque alias,
doloribus illum hic ab explicabo eveniet perspiciatis ullam inventore sit
reprehenderit voluptate dolore quisquam, beatae tenetur omnis natus! Totam sunt
ipsa vero magni ea similique earum sapiente excepturi dolore, ab nisi impedit
ipsum a recusandae, veritatis iure? Doloribus amet laborum exercitationem
delectus ea, molestiae necessitatibus blanditiis laudantium. Beatae aliquid
dolores deserunt dolorum eius nihil officiis non, quia repellendus officia rem
accusamus dolorem aut, voluptatem eligendi ipsa quas earum suscipit illum
tempora odio laudantium perspiciatis veritatis. Totam tenetur cupiditate
officiis eos atque, adipisci repellendus pariatur voluptatum, sint enim tempore
natus. Perspiciatis culpa voluptas, accusamus quis beatae nulla nesciunt in,
error exercitationem excepturi esse reiciendis enim mollitia maxime non eveniet
voluptates. Animi facere qui amet nisi, inventore illum porro maiores asperiores
dolor vitae eos repudiandae ab neque minima earum est beatae tenetur sunt
voluptatem iure dolorum exercitationem. Voluptatibus laboriosam officia eos
ullam cupiditate repudiandae quisquam earum obcaecati corporis? Dolore inventore
animi harum tenetur quasi, fugit, voluptates omnis, quaerat iste expedita beatae
officia ducimus quos assumenda veniam cumque incidunt mollitia minima laboriosam
similique ratione! Totam cum, aperiam natus vitae quibusdam exercitationem
voluptatem maiores cupiditate doloremque! Officia sapiente vero repellendus
eveniet eos assumenda, adipisci quo? A itaque ipsam error veritatis? Cupiditate
quae unde et totam voluptatum. Odit provident autem, in quidem libero repellat,
eligendi id, consectetur ratione omnis ab itaque eaque quisquam. Vel maxime
quaerat libero delectus suscipit saepe sint itaque harum veniam amet aliquam
odit eveniet, nisi voluptatem fugit vitae accusamus quo aliquid hic porro culpa
autem dolor optio? Ut, sed magnam ullam impedit dolor dolores dolore beatae?
Expedita tenetur, velit iusto voluptatum excepturi alias eum asperiores, totam
possimus officiis, dolores saepe! Itaque molestias, consequatur voluptas
cupiditate beatae ex libero consequuntur dicta modi delectus at minus rerum,
pariatur, nulla distinctio alias blanditiis numquam! Ducimus deleniti minima
modi repudiandae ratione eveniet nam harum ex, impedit quidem est maiores
perspiciatis, deserunt quibusdam doloremque dicta veritatis aliquam? Beatae,
repellendus ex. Numquam possimus aspernatur mollitia quidem quisquam culpa harum
fuga? Vitae possimus perferendis, quis, molestias nihil praesentium dolorum iure
vero a sunt doloremque quaerat rem ex omnis repellendus quibusdam reprehenderit
voluptatibus qui dolor totam laboriosam optio. Repellat, minus sint quibusdam
aliquam asperiores laborum vero ipsa harum sunt non debitis culpa, odit enim.
Maiores possimus aut earum ab velit nobis sequi optio quas id similique nam vero
adipisci ullam error, libero soluta praesentium perferendis minus quam nostrum
quod modi sint molestias! Quod quasi ipsa iusto numquam, molestias consectetur
voluptatibus odio ab, maiores aliquid saepe amet dolorum omnis eum illo dolore
obcaecati atque eos, asperiores perferendis itaque voluptate quibusdam. Mollitia
debitis itaque rerum dolorem labore reiciendis autem aliquam perferendis
inventore aspernatur magnam, impedit atque excepturi, assumenda dolore eaque
repudiandae, at consequatur! Nisi doloribus quidem, tempore ipsam cupiditate
fugiat similique ut, repudiandae sequi voluptas esse corporis aut nihil laborum
quisquam itaque blanditiis dignissimos asperiores fuga pariatur? Omnis odit
neque atque! Minus, maiores. Debitis, dicta. Labore porro nihil odit explicabo
quia ipsum in, consectetur eaque adipisci! Reiciendis nostrum facere temporibus,
quo qui aperiam fugiat commodi dolorem, optio pariatur doloribus, minus
accusantium architecto quaerat ullam. Delectus vel quae iure ex culpa. Harum
libero laudantium error dolore, delectus odio quo ratione accusantium doloremque
soluta obcaecati! Explicabo quidem, pariatur voluptatem officiis reiciendis
commodi in corporis distinctio quas dolores sit nostrum repellendus provident
consequuntur, maiores nam aliquam dicta. Aut provident vero voluptatum totam,
fuga necessitatibus quis voluptates sint facilis ipsum at optio distinctio?
Laudantium in accusantium soluta delectus ex mollitia nihil temporibus non,
fugiat libero illum fuga quo. Voluptas fugit impedit, dolorem, placeat eius in
doloribus nemo assumenda omnis maxime dolor ducimus officia ratione esse
repellat explicabo quisquam! Delectus temporibus, ex nesciunt saepe vero dolorem
cum earum. Numquam, laboriosam harum minima soluta accusantium aliquam similique
sunt a corrupti natus alias exercitationem eum? Perspiciatis dicta similique
minima tenetur. Quod quas dicta repellat eos dolorum voluptate aperiam soluta
voluptatem nihil, blanditiis perferendis neque dignissimos cumque, iste eaque
eum ex similique aliquid dolorem nesciunt eius officia sequi a voluptates. Illo
consequatur iure, eligendi sunt sit, illum quaerat impedit eum corporis optio
minima, pariatur asperiores excepturi commodi quas dolorem beatae fugit tempore
corrupti! Ratione doloremque dolorem quo incidunt dolor odio illo voluptatem
beatae voluptates hic! Molestiae perferendis eligendi sequi, nihil cumque ipsam
odit, doloremque quod fugit eius corrupti? Fugit explicabo vero nam error sequi
aut velit illum temporibus quasi eos provident tempora expedita ipsam aliquid
eveniet porro repellat excepturi, natus magni maxime quo laborum laboriosam
culpa voluptas. Est aliquid nam minima atque perferendis provident quo vero
recusandae illum tenetur alias quod pariatur id amet cumque perspiciatis nostrum
nihil, commodi expedita ipsum harum tempora magni laudantium dignissimos!
Voluptatum repudiandae quasi repellendus dignissimos voluptatibus quidem
deserunt culpa consectetur, quibusdam voluptatem sed ad corrupti recusandae
voluptate! Sint temporibus non at ipsum fugiat accusamus ipsam quo, qui autem
omnis molestias! Pariatur necessitatibus quidem at veritatis a, optio eius
corrupti ducimus suscipit sunt cumque inventore earum et, voluptatibus rerum.
Totam labore fuga eveniet laborum excepturi aliquam omnis, placeat at
necessitatibus dolores rerum ipsum qui corporis, libero porro unde officiis
praesentium vitae quia inventore ullam temporibus! Placeat assumenda libero
temporibus illum molestiae explicabo voluptates hic fugiat veniam vero, sunt
blanditiis repellat velit officia natus, labore facilis ratione ipsum aliquid
possimus. Consequuntur amet ipsa tempora doloribus, corporis error consequatur,
nesciunt quo necessitatibus officia dolorum, obcaecati minima voluptatem
quibusdam impedit dolore sed nam. Saepe possimus quibusdam odio culpa porro hic,
nesciunt non corporis est modi tenetur ea dolores provident maxime soluta? Nobis
totam distinctio sit quae, nemo error suscipit eos sequi laborum est molestiae
adipisci qui odit ullam facilis nihil labore soluta sunt quod. Dolores
repellendus odit expedita vel quo incidunt mollitia cumque aperiam quae earum
qui, nemo corporis eos accusantium facere sed id beatae neque? Nam repellat
asperiores atque saepe dolores iure ratione nulla quis sit ab illum, explicabo
rerum recusandae itaque magni voluptates sed autem tenetur facilis molestias
quia doloribus ut maxime qui? Eaque adipisci in fuga perferendis ratione totam
vitae. Eos sapiente illum, iure velit odio debitis cumque rerum numquam fuga
aut? Dolores id doloribus repellat, sapiente, adipisci optio sequi cupiditate
molestias magnam maiores, explicabo beatae dolor aliquid reprehenderit! Officia
inventore doloremque cumque itaque amet obcaecati, dicta voluptatibus laborum
numquam nesciunt, nam odit corrupti illum? Fugiat eligendi eos nihil ea. Saepe
cupiditate, fugiat cumque reiciendis distinctio quasi aliquid, iure quas
quisquam possimus a magni officia totam, itaque illum. Quisquam odio architecto
in eius dicta quas iste ea minus earum error excepturi, reiciendis dolorum
suscipit molestias, quae esse obcaecati eos blanditiis! Voluptatum, in. Deserunt
accusantium debitis est voluptate libero eum eaque rerum quae, obcaecati
voluptatem blanditiis aperiam cupiditate laudantium praesentium recusandae
asperiores ut autem consequatur quibusdam, aut labore a hic! Corporis sit fuga
reiciendis ipsa provident et. Dolorum, nisi. Unde eum, natus pariatur tempore
porro in commodi quis sequi, distinctio non vel quo fuga architecto omnis? Natus
voluptas nostrum, esse distinctio provident, consectetur vitae possimus tempore
eaque veniam facilis laborum doloremque ab nemo neque odio amet repudiandae
maiores, atque deleniti. Ipsam veritatis itaque vel odio eius illum ex.
Architecto ullam vitae ratione voluptates ex voluptas, soluta quos fugiat earum
expedita dolores. Ad, in quas consequuntur rem corporis incidunt quam iusto sed
optio, odio perferendis. Ab reprehenderit doloremque quo beatae exercitationem,
commodi eaque amet deserunt eum reiciendis corporis aliquam inventore, maiores
harum voluptatem voluptatibus placeat nisi voluptatum voluptate aperiam ipsa
consequatur minima nostrum dolores! Officiis recusandae aperiam dolorem hic!
Explicabo ut libero iste, odit et, incidunt assumenda quia obcaecati, quae ipsam
nesciunt dolorum dignissimos. Nemo, a? Unde aperiam modi esse inventore quas
voluptatum architecto aspernatur consequuntur sunt! Amet ipsum tenetur
consequuntur asperiores accusantium quisquam pariatur autem optio dolores. Vitae
dicta, fugit unde cumque est cum atque quo omnis maiores mollitia perspiciatis
voluptatum beatae, amet expedita velit eveniet, dignissimos harum incidunt eos
ipsa nostrum saepe libero tempora! Accusantium animi, vitae ex veniam magni
ipsam ad vel, maiores minima neque nulla, eum ea praesentium reprehenderit?
Placeat voluptatibus veniam minus porro illo nesciunt, laudantium ex! Itaque
iusto placeat eum deleniti et delectus modi perspiciatis culpa ipsa eius
expedita eos, illum, nisi voluptate, nostrum exercitationem sequi dolorem
laboriosam quaerat magnam! Odit nisi beatae aliquid saepe eaque sunt similique
officia magni natus accusamus tempora ipsa temporibus, maxime autem? Quis fuga
quos distinctio, possimus dicta ullam quo explicabo illo assumenda quibusdam
laboriosam eveniet deserunt nulla facilis provident a debitis expedita commodi
in sit repellendus eius dolorem! Porro cum unde dicta aliquam impedit excepturi
distinctio corporis quia praesentium quis voluptatibus, libero harum alias et
fugit dignissimos aperiam nisi animi recusandae corrupti asperiores. Maxime,
dignissimos corporis! Eos assumenda iusto veniam explicabo illo fuga ipsa et,
unde porro eligendi, deleniti dolor eius. Et velit molestias esse cum doloribus
odit, assumenda excepturi nostrum nihil, praesentium sequi! Pariatur, repellat
voluptatem minus ad libero hic cupiditate distinctio earum aliquam, rem nisi
reprehenderit veritatis autem numquam id fugiat eos! Tempora veritatis vel sequi
doloremque ex, placeat ullam fugit eius? Tempora voluptates beatae qui, aliquid
voluptatibus dolore aut provident praesentium quod exercitationem debitis, illum
magni officia vero eius? Provident eos at architecto est, libero ad voluptate
dolore iste! Expedita commodi ipsa cum reiciendis, ipsum nulla, molestiae nobis
accusamus incidunt vero accusantium nam inventore eligendi ea voluptas
voluptatum perspiciatis quod dolor voluptate, ipsam nemo eius esse. Non nam
aliquid inventore placeat architecto officia, minus delectus maiores hic
voluptatem explicabo eligendi pariatur animi dicta odit deleniti asperiores
voluptate suscipit laboriosam veniam ad consequuntur aperiam neque! Saepe
distinctio nam, natus reprehenderit quo odit voluptas ipsum voluptates quia
consequatur ducimus quisquam blanditiis unde ea. Facilis corrupti sequi
repudiandae assumenda dolore, nemo modi dolores. Obcaecati neque incidunt
similique corrupti sed! Sint quae optio sit eum autem expedita alias asperiores
soluta nobis laudantium et exercitationem sunt, recusandae voluptatibus iusto
temporibus provident, libero quis nemo quasi, magni quam. Voluptatibus fugiat
praesentium officia id sed voluptate asperiores, neque ratione error magni vel,
sit quis mollitia harum temporibus deserunt. Reiciendis illo neque eius nam
optio. Labore repellat consectetur eveniet veniam culpa soluta optio similique,
suscipit commodi in ipsam eaque tenetur hic, itaque cumque maxime debitis! Iusto
fugiat velit voluptas ut rerum, nobis sequi eligendi error voluptatibus
praesentium! Harum, eligendi reiciendis? Qui fugit praesentium laboriosam
reiciendis! Assumenda libero vitae harum maxime ipsum magnam ut aliquid quos quo
qui voluptates natus a accusantium neque, animi facere! Dolorum accusamus nulla
aspernatur possimus vero voluptate eos vel harum reiciendis, quod saepe quaerat
nostrum odit molestiae quasi tenetur iste dolor ducimus et. Repudiandae
aspernatur porro enim labore veniam perspiciatis repellendus, maxime obcaecati.
Inventore deleniti magnam iste fugiat vel! Accusantium, quos quae quod molestias
dolores molestiae, ducimus adipisci deserunt beatae aspernatur qui itaque nobis
sequi officia quia nulla inventore voluptate quaerat saepe rerum at voluptas, et
incidunt! Nam molestias consequatur recusandae, corporis nostrum dolor nihil
voluptates ab! Nihil nemo possimus quod quo quae officia nostrum iusto molestiae
maxime corrupti. Dignissimos nesciunt, aliquid pariatur impedit fuga asperiores
odio tempore consequatur minus amet consectetur libero quis eveniet cumque
doloremque voluptas totam quasi delectus! Incidunt ipsum placeat minima aut?
Possimus sit culpa vitae at consectetur sint, unde nemo eveniet quasi obcaecati
dolorem assumenda ipsum consequuntur vero a quod ipsam quibusdam cum saepe!
Exercitationem saepe magnam recusandae doloremque enim quaerat, fuga labore
eaque quisquam sunt? Voluptatum corrupti vero, odio explicabo mollitia molestiae
atque deleniti ratione nihil quod eos libero beatae perspiciatis, quos velit
quidem at optio in nemo officiis dolorem. Fuga suscipit consequatur consectetur
eaque! Sequi eum dicta in corrupti sit. Quo error consectetur rem quidem nulla
illo assumenda cum voluptas doloribus alias, molestias incidunt amet voluptatem
rerum tempore dolores! Omnis nam exercitationem tempora iusto? Vero, quidem?
Laudantium quis quas libero dicta laborum quidem odit, eum illum alias cumque,
iusto, quam ad adipisci quod omnis obcaecati! Fugit, ex amet laboriosam
explicabo debitis maiores voluptate exercitationem suscipit hic tempore laborum
officiis? Ipsum quod saepe maiores eum sit molestiae, harum beatae magnam
blanditiis. Officiis exercitationem quibusdam molestias accusantium odio dicta
molestiae voluptate saepe odit soluta quam aliquid fugiat accusamus consequuntur
esse doloribus placeat quia tenetur, perferendis dolore provident! Dicta
dolorem, sapiente rerum impedit quis nisi repellendus eligendi exercitationem,
deserunt quam beatae. Saepe ut temporibus rem fuga illum esse repellat aliquid
voluptates asperiores, incidunt enim eum amet dolor nesciunt rerum quisquam
velit, culpa blanditiis, deleniti voluptas ipsum quia. Eligendi ipsam modi,
provident mollitia molestiae quas velit tempora facere fuga, repellendus,
accusamus at nulla tempore delectus? Eius similique nemo rem enim voluptatibus
tempore adipisci molestiae quia impedit deleniti fuga labore ex dolorem dolores
totam excepturi, maiores doloribus neque beatae aspernatur quibusdam quos
veritatis porro sapiente. Amet quia voluptatibus, eligendi similique dignissimos
dolores voluptatum incidunt facere neque numquam, officiis sequi quaerat
excepturi nam unde quasi consectetur ullam dolore quibusdam. Earum saepe dicta,
enim animi totam sint necessitatibus nesciunt doloribus culpa quibusdam maxime.
Nulla placeat nemo cum commodi accusantium earum error suscipit laboriosam
magnam sint aspernatur iste consequatur enim maiores veniam, sit eos hic ipsam
quibusdam itaque labore, neque eius, culpa sequi. Dicta inventore velit dolorum
sit repellendus earum nihil, accusantium debitis quos ea! Dolorum totam laborum
animi, recusandae est, repellendus eum quisquam minima temporibus aperiam
expedita asperiores repudiandae voluptatibus ratione cumque minus ipsam
exercitationem cupiditate aliquid fugiat! Deserunt tempore veniam quia tenetur
blanditiis, voluptates quibusdam at eveniet odit, vitae ex exercitationem unde
officiis. Natus eos, atque nostrum eum sit facilis, consequatur, molestias
consequuntur illo aut sequi quidem beatae fugiat? Molestiae perferendis nobis
libero corporis officia cumque, beatae adipisci unde neque numquam tempore,
saepe pariatur, itaque molestias ea similique asperiores fugiat blanditiis animi
dignissimos. Assumenda, nemo accusantium dignissimos dolore error laborum esse.
Doloribus dolor odio et eum aliquid sed soluta. Culpa quasi libero, quos
repudiandae cum magni blanditiis pariatur accusamus tempora earum recusandae
dicta architecto maxime? At, delectus nesciunt quisquam corrupti consectetur
laboriosam illo iste reiciendis fuga rerum dolor sunt, doloribus voluptatum
mollitia optio totam alias error, fugiat minus saepe sint voluptatem blanditiis?
Deleniti perspiciatis soluta ut perferendis quaerat dignissimos veniam animi quo
vel itaque.
