<!-- Flex container for galleria and description -->
<div
  class="page-container"
  style="
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1280px;
    margin: auto;
  "
>
  <!--Product gallery-->
  <app-product-gallery style="flex: 1; min-width: 300px"></app-product-gallery>

  <!-- Product description container -->
  <div
    class="description-text"
    style="flex: 1; min-width: 300px; padding: 0 20px; text-align: left"
  >
    <!--Product describe 'right side text'-->
    <app-product-describe></app-product-describe>
    <!--product price from providers show as tab view-->
    <app-product-prices></app-product-prices>
  </div>
</div>
