<!-- Flex container for galleria and description -->
<div
  class="flex flex-column md:flex-row justify-content-center align-items-center gap-4"
>
  <!--Product gallery-->
  <app-product-gallery [images]="product.images"></app-product-gallery>

  <!-- Product description container -->
  <div class="description-text">
    <!--Product describe 'right side text'-->
    <app-product-describe
      [description]="product.description"
      [name]="product.name"
    ></app-product-describe>
    <!--product price from providers show as tab view-->
    <app-product-prices [providers]="product.providers"></app-product-prices>
  </div>
</div>
