.welcome-section-container {
  // background-color: pink;
  position: relative;
  height: 100vh;
}

.blobs {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1000;
  overflow: hidden;
}
.blobs-glass {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-backdrop-filter: blur(120px);
  backdrop-filter: blur(120px);
}
.blob {
  position: absolute;
  width: 20%;
  aspect-ratio: 1;
  top: 0;
  left: 0;
  border-radius: 50%;
  opacity: 0.6;
}
.blob-secondry {
  z-index: -100;
  background-color: var(--surface-d);
}
.blob-primary {
  z-index: -101;
  background-color: var(--primary-color);
}
.blob-bg {
  background-color: var(--surface-a);
}
#hero {
  z-index: 100;
}

.p-card-title {
  .wiki {
    color: var(--secondary-color);
  }
  .product {
    color: var(--primary-color);
  }
}

.transparent-field {
  background: var(--transparent);
  border: 1px solid var(--surface-border);
}
.p-button {
  border: 1px solid var(--surface-d);
}

.slogan-container {
  position: absolute;
}
//chatbot

.chat-container {
  background-color: var(--surface-200);
  border: 1px solid var(--surface-300);
  border-radius: 5px;
  z-index: 100;
}

.message-container {
  height: 70vh;
  width: 80vw;
  max-height: 40em;
  max-width: 50em;
  overflow-y: scroll;
}

.message {
  max-width: 70%;
  word-wrap: break-word;
  margin: 4px 6px;
  padding: 6px 8px;
}

.message-image {
  max-width: 100%;
  max-height: 12.5em;
  display: block;
  margin: auto;
}

.input-container {
  margin-top: 10px;
  height: 20%;
  max-height: 10em;
}

.input-field {
}

.send-btn {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.from {
  align-self: flex-start;
  background-color: var(--surface-0);
  border-radius: 10px 10px 10px 0;
}

.to {
  align-self: flex-end;
  background-color: var(--primary-color);
  color: var(--surface-0);
  border-radius: 10px 10px 0 10px;
}

@media (max-width: 1024px) {
  .blob {
    width: 40%;
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-flicker {
  -webkit-animation: flickerAnimation 3s infinite;
  -moz-animation: flickerAnimation 3s infinite;
  -o-animation: flickerAnimation 3s infinite;
  animation: flickerAnimation 3s infinite;
}
