<div
  class="welcome-section-container flex justify-content-center align-content-center"
>
  <div
    id="hero"
    class="grid grid-nogutter col-12 justify-content-center text-800"
  >
    <div
      class="col-12 flex align-items-center justify-content-center fadein animation-duration-1000"
    >
      <div
        *ngIf="!isFirstMessage"
        class="slogan-container text-center"
        [@fadeoutup]
      >
        <div class="p-card-title">
          <span class="wiki font-bold text-5xl md:text-7xl">Wiki</span
          ><span class="product font-bold text-5xl md:text-7xl">Product</span>
        </div>
        <div class="text-xl lg:text-2xl font-bold mb-4">
          Journey Through the World of Products - Discover, Learn, and Explore!
        </div>
        <div class="text-xl lg:text-xl font-bold mb-2 mt-5">
          Chat with ProductBot
        </div>
      </div>
      <section>
        <!-- chatbot -->
        <div
          class="chat-containe mt-4"
          [ngClass]="{ 'transparent-field': isFirstMessage }"
        >
          <div
            class="message-container flex flex-column mt-2 p-4 #messageContainer"
          >
            <ng-container *ngFor="let message of messages | async">
              <div
                class="message shadow-2"
                [ngClass]="{
                  from: message.sentBy === 'bot',
                  to: message.sentBy === 'user'
                }"
              >
                <div>{{ message.content }}</div>
                <!-- show product card if the message contains a product -->
                <div *ngIf="message.isProductMessage">
                  <div
                    class="cursor-pointer hover:surface-hover border-1 flex flex-column surface-border border-round-xl mt-2 mb-2"
                  >
                    <div
                      class="image-container h-15rem w-full bg-white flex justify-content-center align-items-center p-3 border-round-lg mb-3"
                    >
                      <img [src]="message.imageUrl" class="product-img" />
                    </div>

                    <div
                      class="align-content-start w-full flex flex-column px-2"
                    >
                      <div class="flex align-content-end flex-wrap">
                        <h3 class="text-limit md:text-lg lg:text-xl m-0">
                          {{ message.title }}
                        </h3>
                      </div>
                      <p-rating
                        class="mt-2"
                        [ngModel]="message.rating"
                        [readonly]="true"
                        [cancel]="false"
                      ></p-rating>
                      <p class="currency-limit md:text-md lg:text-xl mt-1">
                        ${{ message.price }}
                      </p>
                    </div>
                  </div>
                </div>
                <div>{{ message.summary }}</div>
              </div>
            </ng-container>
          </div>
          <!-- User input -->
          <div class="flex justify-content-center input-container">
            <p-inputGroup>
              <input
                class="p-inputtext-sm input-field relative"
                [ngClass]="{ 'ng-invalid ng-dirty': isEmpty }"
                type="text"
                pInputText
                placeholder="Type a message..."
                [(ngModel)]="formValue"
                [disabled]="isLoading"
                (ngModelChange)="updateIsEmpty()"
                (keyup.enter)="sendMessage()"
              />
              <button
                type="button"
                (click)="sendMessage()"
                pButton
                class="p-button send-btn absolute"
                [disabled]="isEmpty"
              >
                <span
                  class="pi text-center text-lg md:text-xl"
                  [ngClass]="{
                    'pi-send': !isLoading,
                    'pi-spin pi-spinner': isLoading
                  }"
                ></span>
              </button>
            </p-inputGroup>
          </div>
        </div>
        <div class="text-center flex flex-column justify-content-center mt-2">
          <i
            class="pi pi-angle-down animate-flicker"
            style="font-size: 2rem"
          ></i>
        </div>
      </section>
    </div>
  </div>

  <div class="blobs-glass"></div>
  <div class="blobs">
    <div class="blobs-items">
      <div class="blob blob-primary"></div>
      <div class="blob blob-primary"></div>
      <div class="blob blob-secondry"></div>

      <div class="blob blob-bg"></div>
    </div>
  </div>
</div>
