.welcome-section-container {
  // background-color: pink;
  position: relative;
  height: 100vh;
}

.blobs {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1000;
  overflow: hidden;
}
.blobs-glass {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-backdrop-filter: blur(120px);
  backdrop-filter: blur(120px);
}
.blob {
  position: absolute;
  width: 20%;
  aspect-ratio: 1;
  top: 0;
  left: 0;
  border-radius: 50%;
  opacity: 0.6;
}
.blob-secondry {
  z-index: -100;
  background-color: var(--surface-d);
}
.blob-primary {
  z-index: -101;
  background-color: var(--primary-color);
}
.blob-bg {
  background-color: var(--surface-a);
}
#hero {
  z-index: 100;
}

.p-card-title {
  .wiki {
    color: var(--secondary-color);
  }
  .product {
    color: var(--primary-color);
  }
}

.p-button {
  border: 1px solid var(--surface-d);
}

.slogan-container {
  position: absolute;
}
//chatbot

.transparent-field {
  background: var(--transparent);
  border: 1px solid var(--surface-border);
  border-radius: 12px 12px 20px 20px;
}

.chat-container {
}

.message-container {
  height: 70vh;
  width: 80vw;
  max-height: 40em;
  max-width: 50em;
  overflow-y: scroll;
}

.message {
  max-width: 70%;
  word-wrap: break-word;
  margin: 4px 6px;
  padding: 6px 8px;
}

.from {
  align-self: flex-start;
  background-color: var(--surface-0);
  border-radius: 10px 10px 10px 0;
  padding: 6px 6px 12px 10px;
}

.to {
  align-self: flex-end;
  background-color: var(--primary-color);
  color: var(--surface-0);
  border-radius: 10px 10px 0 10px;
}

.product-message-container {
  display: flex;
}

.product-message-container .cursor-pointer {
  flex: 1;
  margin: 0;
}

.text-limit {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
}
.currency-limit {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 15ch;
}
.product-img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.input-container {
  border: 1px solid var(--surface-300);
  border-radius: 20px;
  margin-top: 4px;
  height: 20%;
  max-height: 12em;
  position: relative;
  background-color: var(--transparent);
}
.input-field {
  height: 4em;
  width: 100%;
  word-wrap: break-word;
  border-radius: 20px;
  border: none !important;
  background-color: transparent;
}
::ng-deep .p-inputtext:enabled:hover {
  outline: none;
  outline-offset: 0;
  box-shadow: none;
  border-color: transparent;
}
.p-inputtext:focus:not(:hover) {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}

.send-btn {
  width: 4%;
  height: 75%;
  top: 6px;
  right: 10px;
  z-index: 100;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .blob {
    width: 40%;
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-flicker {
  -webkit-animation: flickerAnimation 3s infinite;
  -moz-animation: flickerAnimation 3s infinite;
  -o-animation: flickerAnimation 3s infinite;
  animation: flickerAnimation 3s infinite;
}
