<div
  class="welcome-section-container flex justify-content-center align-content-center"
>
  <div
    id="hero"
    class="grid grid-nogutter col-12 justify-content-center text-800"
  >
    <div
      class="text-center col-12 flex align-items-center justify-content-center fadein animation-duration-1000"
    >
      <div *ngIf="!isFirstMessage" class="slogan-container" [@fadeoutup]>
        <div class="p-card-title">
          <span class="wiki font-bold text-5xl md:text-7xl">Wiki</span
          ><span class="product font-bold text-5xl md:text-7xl">Product</span>
        </div>
        <div class="text-xl lg:text-2xl font-bold mb-4">
          Journey Through the World of Products - Discover, Learn, and Explore!
        </div>
        <div class="text-xl lg:text-xl font-bold mb-2 mt-5">
          Chat with ProductBot
        </div>
      </div>
      <section>
        <!-- chatbot -->
        <div class="message-container flex flex-column mt-2 align-items-center">
          <ng-container *ngFor="let message of messages | async">
            <div
              class="message shadow-2"
              [ngClass]="{
                from: message.sentBy === 'bot',
                to: message.sentBy === 'user'
              }"
            >
              <div>{{ message.content }}</div>
              <ng-container *ngIf="message.imageUrl">
                <img
                  [src]="message.imageUrl"
                  alt="Image"
                  class="message-image"
                />
              </ng-container>
              <ng-container *ngIf="message.linkUrl">
                <a
                  [href]="message.linkUrl"
                  target="_blank"
                  class="message-link"
                  >{{ message.linkText }}</a
                >
              </ng-container>
            </div>
          </ng-container>
        </div>

        <div class="flex justify-content-center input-container">
          <p-inputGroup>
            <input
              class="p-inputtext-sm input-field"
              [ngClass]="{ 'ng-invalid ng-dirty': isEmpty }"
              type="text"
              pInputText
              placeholder="Type a message..."
              [(ngModel)]="formValue"
              [disabled]="isLoading"
              (ngModelChange)="updateIsEmpty()"
              (keyup.enter)="sendMessage()"
            />
            <button
              type="button"
              (click)="sendMessage()"
              pButton
              class="p-button send-btn"
              [disabled]="isEmpty"
            >
              <span
                class="pi text-center text-sm md:text-lg"
                [ngClass]="{
                  'pi-send': !isLoading,
                  'pi-spin pi-spinner': isLoading
                }"
              ></span>
            </button>
          </p-inputGroup>
        </div>
      </section>
    </div>
  </div>

  <div class="blobs-glass"></div>
  <div class="blobs">
    <div class="blobs-items">
      <div class="blob blob-primary"></div>
      <div class="blob blob-primary"></div>
      <div class="blob blob-secondry"></div>

      <div class="blob blob-bg"></div>
    </div>
  </div>
</div>
