@import "primeflex/primeflex.css";
// @import "custom-light-theme.scss";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url("//fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
body {
  width: 100%;
  margin: 0;
}
.transparent-button-icon {
  color: var(--surface-900);
}

.transparent-button {
  background: var(--transparent);
  border: 1px solid var(--surface-border);
}
.transparent-button:hover {
  background: var(--surface-hover);
}

.transparent-input-text {
  background: var(--transparent);
  border: 1px solid var(--surface-border);
}
