.chat-container {
  position: fixed;
  bottom: 2%;
  right: 1%;
  width: 30%;
  max-width: 18.75em;
  background-color: var(--surface-200);
  border: 1px solid var(--surface-300);
  border-radius: 5px;
  z-index: 100;
}

.chat-header {
  background-color: var(--primary-color);
  color: var(--surface-0);
  border-radius: 5px 5px 0 0;
  height: 10%;
  max-height: 2.5em;
}

.exit-btn {
  height: 20%;
  max-height: 1em;
}

.message-container {
  height: 16em;
  overflow-y: scroll;
}

.message {
  max-width: 70%;
  word-wrap: break-word;
  margin: 4px 6px;
  padding: 6px 8px;
}

.message-image {
  max-width: 100%;
  max-height: 12.5em;
  display: block;
  margin: auto;
}

.input-container {
  margin-top: 10px;
  height: 10%;
  max-height: 1.8em;
}

.input-field {
}

.send-btn {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.from {
  align-self: flex-start;
  background-color: var(--surface-0);
  border-radius: 10px 10px 10px 0;
}

.to {
  align-self: flex-end;
  background-color: var(--primary-color);
  color: var(--surface-0);
  border-radius: 10px 10px 0 10px;
}
