<!-- Pop up button to show dialog -->
<button
  pButton
  class="dialog-btn"
  icon="pi pi-comment"
  (click)="showDialog()"
  *ngIf="!displayChatbotDialog"
></button>
<!-- Dialog component shown when button is clicked -->
<!-- Header -->
<p-dialog
  header="Chatbot"
  [breakpoints]="{
    '960px': '40vw',
    '600px': '50vw',
    '480px': '100vw'
  }"
  [style]="{ width: '28vw' }"
  [(visible)]="displayChatbotDialog"
  [position]="'bottomright'"
>
  <!-- Chat component -->
  <div class="chat-container flex flex-column justify-content-between">
    <!-- Message container / to load and exchange messages between user and bot -->
    <div class="message-container flex flex-column" #messageContainer>
      <ng-container *ngFor="let message of messages | async">
        <div
          class="message shadow-2 text-xs"
          [ngClass]="{
            from: message.sentBy === 'bot',
            to: message.sentBy === 'user'
          }"
        >
          <!-- Message text -->
          <div
            class="text-xs md:text-sm"
            *ngIf="message.sentBy == 'bot'"
            [innerHTML]="message.content"
          ></div>
          <div class="text-xs md:text-sm" *ngIf="!(message.sentBy == 'bot')">
            {{ message.content }}
          </div>
          <!-- Message Product cards / show product card if the message contains a product -->
          <div class="grid" *ngIf="message.isProductMessage">
            <div
              *ngFor="let productMessage of message.ProductList"
              class="product-message-container col-12 lg:col-6"
              (click)="onProductClicked(productMessage.item_id)"
            >
              <div
                class="cursor-pointer hover:surface-hover border-1 flex flex-column surface-border border-round-xl mt-2 mb-2"
              >
                <div
                  class="image-container h-8rem w-full bg-white flex justify-content-center align-items-center p-1 border-round-lg mb-1"
                >
                  <img
                    [src]="productMessage.images[0].image_url"
                    class="product-img"
                  />
                </div>

                <div class="align-content-start w-full flex flex-column px-2">
                  <div class="flex align-content-end flex-wrap">
                    <h3 class="text-limit text-xs m-0">
                      {{ productMessage.name }}
                    </h3>
                  </div>
                  <p-rating
                    class="mt-1"
                    [ngModel]="productMessage.rating"
                    [readonly]="true"
                    [cancel]="false"
                  ></p-rating>
                  <p class="currency-limit text-xs lg:text-sm mt-1">
                    {{ productMessage.price | currencyConversion }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- Loading -->
      <div *ngIf="isLoading" class="message from font-bold shadow-2">
        {{ " · ".repeat(dotsCount) }}
      </div>
    </div>
    <!-- Input from user -->
    <div class="flex justify-content-center input-container">
      <p-inputGroup>
        <input
          class="p-inputtext-sm input-field"
          type="text"
          pInputText
          placeholder="Type a message..."
          [(ngModel)]="formValue"
          (ngModelChange)="updateIsEmpty()"
          (keyup.enter)="sendMessage()"
        />
        <button
          type="button"
          (click)="sendMessage()"
          pButton
          class="p-button send-btn border-round-sm border-noround-left"
          [disabled]="isLoading"
        >
          <span
            class="pi text-center text-sm md:text-lg"
            [ngClass]="{
              'pi-send': !isLoading,
              'pi-spin pi-spinner': isLoading
            }"
          ></span>
        </button>
      </p-inputGroup>
    </div>
  </div>
</p-dialog>
