<p-divider></p-divider>

<div
  class="flex align-content-center p-3 flex-wrap md:justify-content-end justify-content-center gap-2 mb-3"
>
  <button
    class="flex-order-0 p-ripple p-element p-button p-component p-button-icon-only transparent-button"
  >
    <span class="pi pi-github p-button-icon transparent-button-icon"></span>
  </button>
  <button
    class="flex-order-1 p-ripple p-element p-button p-component p-button-icon-only transparent-button"
  >
    <span class="pi pi-envelope p-button-icon transparent-button-icon"></span>
  </button>
  <button
    class="flex-order-2 p-ripple p-element p-button p-component p-button-icon-only transparent-button"
  >
    <span class="pi pi-whatsapp p-button-icon transparent-button-icon"></span>
  </button>
</div>
