<section class="flex flex-column align-items-center justify-content-center">
  <div class="mb-3 font-bold text-3xl">
    <span class="text-900">Featured </span>
    <span class="text-blue-600">Products</span>
  </div>
  <div class="md:col-10 col-12">
    <p-carousel
      [value]="productList"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
      [autoplayInterval]="20000"
    >
      <ng-template let-product pTemplate="item">
        <div class="">
          <div
            class="cursor-pointer hover:surface-hover border-1 flex flex-column align-items-center surface-border border-round-xl md:m-4 py-5 px-3"
          >
            <div
              class="image-container h-15rem w-full bg-white flex justify-content-center align-items-center p-3 border-round-lg mb-3"
            >
              <img
                [src]="product.imageSource"
                [alt]="product.title"
                class="product-img"
              />
            </div>

            <div class="w-full flex flex-column px-2">
              <div class="h-2rem">
                <h3 class="text-limit md:text-lg lg:text-xl m-0">
                  {{ product.title }}
                </h3>
              </div>
              <p class="currency-limit md:text-md lg:text-xl">
                ${{ product.price }}
              </p>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</section>
